/* src/components/Home.css */
.home-section {
    width: 100%;
    height: 100vh;
    background: url('https://i.stack.imgur.com/MkSui.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  } 
  
  .centered-div {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
  }
  
  .centered-div div {
    margin: 20px 70px;
    padding-top: 4rem;
  }
  
  
  .left-column {
    width: 50%;
    flex: 1;
    padding: 2rem;
  }
  
  .left-column img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .right-column {
    flex: 2;
    /* padding: 2rem; */
    color: white;
  }
  
  .right-column h1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
    margin-bottom: 1rem;
  }
  
  .right-column p {
    font-size: 1rem; /* Adjust font size for smaller screens */
    margin-bottom: 2rem;
  }
  
  .cta-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Add a media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .centered-div {
        display: flex;
        flex-direction: column; /* Adjust for smaller screens */
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
      }
      .centered-div div {
        margin: 0;
        padding: 0;
      }

      .centered-div .left-column {
        padding-top: 2rem;
      }
  
    .left-column img {
      width: 60%; /* Adjust image width for smaller screens */
    }
  
    .right-column h1 {
      font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
  
    .right-column p {
      font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
  }
  