.skills-section {
  background-color: #f7f7f7;
  padding: 4rem 0;
}

.content {
  /* max-width: 1200px; */
  margin: 0 auto;
  text-align: center;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.skill-card {
  width: 25%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  padding: 1.5rem;
}

.skill-content {
  flex: 1;
}

.skill-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sub-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0.1rem; */
    /* padding: 2px 0; */
}
.sub-skill p {
    width: 30%;
    text-align: left;
}

.sub-skill p,
.skill-level {
  display: flex;
  align-items: center;
  vertical-align: center;
  /* padding: 2px 0; */
}

.skill-level {
    flex: 1;
    background-color: #f5f5f5;
    height: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level-bar {
  height: 100%;
  background-color: #007bff;
  animation: fillSkill 1s ease forwards;
  width: 50%;
}

.skill-percentage {
  margin-left: 5px;
}
.sub-skill #javaScript {
    width: 10%;
}

@keyframes fillSkill {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
    .skills-grid {
        display: flex;
       flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .skill-card {
      width: 70%;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      padding: 1.5rem;
    }
}
